<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Select our SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3366/training</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- Echo the SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<property name="javax.persistence.sql-load-script-source">data.sql</property>

		<property name="hibernate.generate_statistics">true</property>

		<!-- Mapping files -->
		<!-- <mapping resource="employee.hbm.xml" /> -->
		<mapping class="hibernate.training.entity.Employee" />
		<mapping class="hibernate.training.entity.Address" />
	</session-factory>
</hibernate-configuration> 